* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  position: relative;
}
.stageChoice {
  z-index: 5;
  position: absolute;
  display: flex;
  top: 10rem;
  width: 600px;
  justify-content: space-around;
}
.stageChoiceIsGetOut {
  z-index: -5;
  position: absolute;
  display: flex;
  top: 10rem;
  left: -50rem;
  width: 600px;
  justify-content: space-around;
}
.stageChoice img {
  cursor: pointer;
  width: 100px;
}

#stage {
  width: 105%;
  height: 741px;
  z-index: -1;
}
.startBtn {
  position: absolute;
  cursor: pointer;
  width: 200px;
  height: 5rem;
  z-index: 1;
  top: 3rem;
  transition: 2s ease-in-out;
}
.startBtnGetOut {
  position: absolute;
  width: 10rem;
  height: 3rem;
  z-index: 1;
  top: 3rem;
  left: 193rem;
  margin-left: 50%;
  margin-right: 50%;
  transition: 3s ease-in-out;
}
#player1 {
  position: absolute;
  width: 250px;
  height: 250px;
  z-index: 1;
  bottom: 4rem;
  left: 7rem;
}
#player2 {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 1;
  bottom: 4rem;
  right: 7rem;
}
#span {
  position: absolute;
  color: white;
  font-family: "Caprasimo", cursive;
  font-size: 1.7rem;
  text-align: center;
  top: 10rem;
  left: 364.5px;
  width: 300px;
  height: 5rem;
}
